* {
    -fx-color-unfocus: #d3d3d3;
    -fx-color-border: #d3d3d3;
    -fx-color-dashboard: -fx-color-background;
}

.day-theme {
    -fx-color-background: #fff;
    -fx-color-text: #3c3c3c;

    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
}

.day-theme .success-style { /* #198754 */
    -fx-color-background: hsb(152, 81%, 53%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.day-theme .warn-style { /* #ffc107*/
    -fx-color-background: hsb(45, 97%, 90%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.day-theme .danger-style {
    /* #dc3545 */
    -fx-color-background: hsb(354, 76%, 86%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.day-theme .creative-style { /* #6610f2 */
    -fx-color-background: hsb(263, 93%, 95%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.day-theme .epic-style { /* #0dcaf0 */
    -fx-color-background: hsb(190, 95%, 94%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.night-theme {
    -fx-color-background: #343a40;
    -fx-color-text: #fff;

    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
}

.night-theme .success-style {
    -fx-color-background: hsb(152, 81%, 43%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.night-theme .warn-style {
    -fx-color-background: hsb(45, 97%, 90%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.night-theme .danger-style {
    -fx-color-background: hsb(354, 76%, 76%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.night-theme .creative-style {
    -fx-color-background: hsb(263, 93%, 85%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.night-theme .epic-style {
    -fx-color-background: hsb(190, 95%, 84%);
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.default-style {
    -fx-background-color: -fx-color-text;
}

.default-style .label {
    -fx-text-fill: -fx-color-background;
}

.red-border-input-line .input-line {
    -fx-background-color: red;
}

.ikonli-font-icon {
    -fx-icon-color: -fx-color-text;
}