* .label, .jfx-text-field, .jfx-password-field, .jfx-button, .jfx-combo-box, .jfx-date-picker .text-field {
    -fx-font: 2em "Roboto";
}

.jfx-toggle-button {
    -fx-font: 1.5em "Roboto";
}

.label {
    -fx-text-fill: -fx-color-text;
}

.regular {
    -fx-font: 2em "Roboto";
}

.thin {
    -fx-font: 2em "Roboto Thin";
}

.bold {
    -fx-font: 2em "Roboto Bold";
}

.jfx-text-field, .jfx-password-field {
    -fx-text-fill: -fx-color-text;
    -fx-prompt-text-fill: -fx-color-unfocus;
    -jfx-unfocus-color: -fx-color-unfocus;
    -jfx-focus-color: -fx-color-text;
}

.jfx-button {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-icon-color: #fff;
}

.jfx-button, .button {
    -fx-cursor: hand;
}

.btn-primary {
    -fx-font: 20px "Roboto Bold";
    -fx-border-color: -fx-color-text;
    -fx-background-color: -fx-color-text;
    -fx-text-fill: -fx-color-background;
}

.btn-primary .ikonli-font-icon {
    -fx-icon-color: -fx-color-background;
}

.btn-primary .jfx-rippler {
    -jfx-rippler-fill: -fx-color-background;
}

.btn-secondary {
    -fx-font: 20px "Roboto";
    -fx-border-color: -fx-color-text;
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
}

.btn-secondary .jfx-rippler {
    -jfx-rippler-fill: -fx-color-text;
}

.upload-image {
    -fx-cursor: hand;
}

.jfx-toggle-button {
    -fx-text-fill: -fx-color-text;
    -jfx-toggle-color: -fx-color-text;
}

.jfx-combo-box {
    -fx-prompt-text-fill: -fx-color-unfocus;
    -jfx-unfocus-color: -fx-color-unfocus;
    -jfx-focus-color: -fx-color-text;
}

.jfx-combo-box .cell {
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
}

.jfx-combo-box .cell:hover {
    -fx-opacity: 0.6;
}

.jfx-date-picker {
    -jfx-default-color: -fx-color-text;
}

.jfx-date-picker .label {
    -fx-text-fill: #333;
}

.jfx-date-picker .text-field {
    -fx-alignment: center;
}

.jfx-date-picker .date-picker-popup > .month-year-pane {
    -fx-background-color: #333;
}

.jfx-date-picker .date-cell:selected, .jfx-date-picker .date-cell:focused, .jfx-date-picker .date-cell:hover, .jfx-date-picker .today:focused {
    -fx-text-fill: #00B4D8;
    -fx-font-weight: bold;
}

.jfx-date-picker .today {
    -fx-text-fill: #333;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane, .table-view {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}