@import "global.css";
@import "colors.css";

* {
    -fx-color-unfocus: #d3d3d3;
}

.dialog-container {
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
    -fx-border-color: -fx-color-border;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.header-container {
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
    -fx-border-radius: 5px 5px 0 0;
    -fx-background-radius: 5px 5px 0 0;
}

.dialog-container .label {
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
}

.dialog-icon-container {
    -fx-padding: 10px;
    /*-fx-background-radius: 30px;*/
    /*-fx-border-radius: 30px;*/
    -fx-font-size: 0px;
    /*-fx-border-color: -fx-color-text;*/
    -fx-background-color: transparent;
}

.dialog-container .ikonli-font-icon {
    -fx-icon-size: 40px;
}

.dialog-container .title {
    -fx-font: 20px 'Roboto Bold';
    -fx-background-color: transparent;
}

.dialog-container .content {
    -fx-font: 16px 'Roboto';

}

.jfx-button {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-icon-color: #fff;
}

.jfx-button, .button {
    -fx-cursor: hand;
}

.btn-primary {
    -fx-font: 20px "Roboto Bold";
    -fx-border-color: -fx-color-border;
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
}

.btn-primary .ikonli-font-icon {
    -fx-icon-color: -fx-color-background;
}

.btn-primary .jfx-rippler {
    -jfx-rippler-fill: -fx-color-text;
}

.btn-secondary {
    -fx-font: 20px "Roboto Thin";
    -fx-border-color: -fx-color-border;
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
}

.btn-secondary .jfx-rippler {
    -jfx-rippler-fill: -fx-color-text;
}