@import "global.css";

.ikonli-font-icon {
    -fx-icon-color: -fx-color-text;
}

/* Colors */

.day-theme {
    -fx-color-background: #fff;
    -fx-color-text: #3c3c3c;
    -fx-border-color: -fx-color-background;
}

.night-theme {
    -fx-color-background: #343a40;
    -fx-color-text: #fff;
    -fx-border-color: -fx-color-background;
}

.success-style {
    -fx-color-background: hsb(152, 81%, 43%);
    -fx-color-text: #fff;
}

.warn-style {
    -fx-color-background: hsb(45, 97%, 90%);
    -fx-color-text: #fff;
}

.danger-style {
    -fx-color-background: hsb(354, 76%, 76%);
    -fx-color-text: #fff;
}

.creative-style {
    -fx-color-background: hsb(263, 93%, 85%);
    -fx-color-text: #fff;
}

.epic-style {
    -fx-color-background: hsb(190, 95%, 84%);
    -fx-color-text: #fff;
}

.default-style {
    -fx-background-color: -fx-color-text;
}

.default-style .label {
    -fx-text-fill: -fx-color-background;
}