/* Dashboard */
/* Dashboard */

.dashboard {
    -fx-background-color: -fx-color-background;
}

.dashboard .aside *:disabled {
    /*-fx-opacity: 1;*/
}

.dashboard .aside .option {
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.dashboard .aside .option:hover {
    -fx-opacity: 0.8;
}

.dashboard .aside .option .label {
    -fx-font: 2.5em "Roboto Thin";
}

.dashboard .aside .selected {
    -fx-background-color: -fx-color-text;
}

.dashboard .aside .selected:hover {
    -fx-background-color: -fx-color-text;
    -fx-opacity: 1;
    -fx-cursor: cursor;
}

.dashboard .aside .selected .label {
    -fx-text-fill: -fx-color-background;
    -fx-font: 2.5em "Roboto Bold";
}

.dashboard .aside .selected .ikonli-font-icon {
    -fx-icon-color: -fx-color-background;
}

.dashboard .top-bar .section {
    -fx-font: 3em "Roboto Bold";
}

.dashboard .top-bar .user .label, .dashboard .top-bar .user .image-view {
    -fx-cursor: hand;
}

.dashboard .top-bar .user .label {
    -fx-font: 2.5em "Roboto Thin";
}

.fingerprint .on {
    -fx-icon-color: #20950E;
}

.fingerprint .off {
    -fx-icon-color: #D20F25;
    -fx-cursor: hand;
}

/* End Dashboard */

/* Summary */
.image-input:hover, .image-input:focused {
    -fx-opacity: 0.5;
}

.summary {
    -fx-background-color: -fx-color-dashboard;
}

.card {
    -fx-background-color: -fx-color-background;
    -fx-border-color: -fx-color-border;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-pref-width: 300;
}

.card .ikonli-font-icon {
    -fx-icon-size: 50px;
}

.card .title {
    -fx-font: 3em "Roboto Bold";
}

.card .description {
    -fx-font: 2em "Roboto";
}

/* End Summary */

/* Members */
.table-row-cell {
    -fx-border-width: 0;
}

.member-cell .table-cell {
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
}

.form {
    -fx-background-color: -fx-color-background;
    -fx-padding: 5px;
}

.form > VBox {
    -fx-spacing: 5px;
}

.form-header {
    -fx-background-color: -fx-color-text;
    -fx-padding: 10px;

}

.form-header .label {
    -fx-text-fill: -fx-color-background !important;
}

.form-section {
    -fx-border-color: -fx-color-border;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.form-section .jfx-text-field {
    -fx-text-box-border: red;
}

.form-input {
    -fx-font: 1.5em "Roboto Bold";
}

/* Model_Member */

/* End Model_Member */

/* End Members */