/* Dashboard */

.dashboard {
    -fx-background-color: -fx-color-background;
}

.dashboard .aside .option {
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.dashboard .aside .option:hover {
    -fx-opacity: 0.8;
}

.dashboard .aside .option .label {
    -fx-font: 2.5em "Roboto Thin";
}

.dashboard .aside .selected {
    -fx-background-color: -fx-color-text;
}

.dashboard .aside .selected:hover {
    -fx-background-color: -fx-color-text;
    -fx-opacity: 1;
    -fx-cursor: cursor;
}

.dashboard .aside .selected .label {
    -fx-text-fill: -fx-color-background;
    -fx-font: 2.5em "Roboto Bold";
}

.dashboard .aside .selected .ikonli-font-icon {
    -fx-icon-color: -fx-color-background;
}

.dashboard .top-bar .section {
    -fx-font: 3em "Roboto Bold";
}

.dashboard .top-bar .user .label, .dashboard .top-bar .user .image-view {
    -fx-cursor: hand;
}

.dashboard .top-bar .user .label {
    -fx-font: 2.5em "Roboto Thin";
}

.fingerprint .title {
    -fx-font: 2.5em "Roboto Bold";
}

.fingerprint .icon {
    -fx-icon-size: 50px;
}

.fingerprint .on {
    -fx-icon-color: #20950E;
}

.fingerprint .off {
    -fx-icon-color: #D20F25;
    -fx-cursor: hand;
}

.fingerprint .status {
    -fx-font: 2em "Roboto Thin";
}

/* End Dashboard */

/* Summary */
.summary {
    -fx-background-color: -fx-color-dashboard;
}

.card {
    -fx-background-color: -fx-color-background;
    -fx-border-color: -fx-color-border;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-pref-width: 300;
}

.card .ikonli-font-icon {
    -fx-icon-size: 50px;
}

.card .title {
    -fx-font: 3em "Roboto Bold";
}

.card .description {
    -fx-font: 2em "Roboto";
}

/* End Summary */

/* Members */
.member-cell .table-cell {
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-text;
}

/* Model_Member */

.member-section {
    -fx-border-color: -fx-color-border;
}

/* End Model_Member */

/* End Members */

/* Footer */
.footer {
    -fx-border-width: 1px 0 0 0;
    -fx-padding: 10px;
    -fx-border-color: -fx-color-unfocus;
}

.footer .label {
    -fx-font-family: "Roboto Thin";
}

.icon-theme-container {
    -fx-background-color: transparent;
    -fx-border-color: -fx-color-unfocus;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 10px;
}

.icon-theme {
    -fx-font-size: 2em;
}

/* End Footer */